---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.green {
  color: green;
}
#grayscale:hover {
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

#invert:hover {
   -webkit-filter: invert(.9);
   filter: invert(.9);
}

#brightness:hover {
   -webkit-filter: brightness(.5);
   filter: brightness(.5);
}

#saturation:hover {
   -webkit-filter: saturate(6);
   filter: saturate(6);
}

#sepia:hover {
   -webkit-filter: sepia(1);
   filter: sepia(1);
}

#blur:hover {
   -webkit-filter: blur(5px);
   filter: blur(5px);
}

#opacity:hover {
   -webkit-filter: opacity(.5);
   filter: opacity(.5);
}

#blur-hue:hover {
   -webkit-filter: blur(5px) saturate(6);
   filter: blur(5px) saturate(6);  
}

#blur-text:hover {
  -webkit-filter: blur(5px);
   filter: blur(5px);
}
